www
secrets.yaml
known_devices.yaml
ip_bans.yaml
/www
/tts
/packages
/node-red
/homekit-infused
/esp-home
/blueprints
*.xml
*.pyc
*.old
*.log
*.key
*.json
*.db*
*.db
.vscode
.Trash*
.theia
.*
!.gitignore
__pycache__

